@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
    --colora: rgba(149, 121, 177, 0.37);
    --color: rgb(149, 121, 177);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html, body {
    background-color: #f5f5f5;
    text-align: center;
    width: 100%;
    height: 100%;
}

.container {
    min-width: 250px;
    width: 50%;
    max-width: 35rem;
    height: 100%;
    margin: 10px auto;
}

h1 {
    color: var(--colora);
    font-size: 6rem;
}

.add {
    display: flex;
    width: 100%;
}

input{
    width: 75%;
    height: 50px;
    border: 1px solid var(--colora);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    color: var(--color);
}

button {
    width: 25%;
    border: 1px solid var(--colora);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    color: var(--color);
    cursor: pointer;
}

#todos {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 25px;
}

.todo-item p {
    position: relative;
}

.todo-item p::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50%);
    left: -5%;
    width: 0;
    height: 3px;
    background-color: rgba(0, 0, 0, .4);
    transition: 500ms cubic-bezier(0.86, 0, 0.07, 1) all;
}

.todo-item.done {
    color: rgb(0, 0, 0, .4);
}

.todo-item.done > p::before{
    width: 110%;
}

.todo-item .controls {
    display: flex;
    flex-direction: row;
    user-select: none;
}

.todo-item .controls span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 200ms ease background-color, 200ms ease color;
}

.todo-item .controls span:hover {
    background-color: var(--color);
    color: #f5f5f5;
}

.todo-item .controls span:active {
    background-color: var(--colora);
}